
body{
    background-color: rgb(216, 225, 237);
}

.nav-flex{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.nav-content-flex{
    display: flex;
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding-left: 80px;
}

.nav-link{
    text-decoration: none;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.current-page{
    font-size: 20px;
    color: white;
}

.welcome{
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
}

.about-me-title{
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.about-me{
    font-size: 20px;
    background-color: rgb(246, 242, 242);
    padding: 10px 15px 10px 15px;
    margin-left: 95px;
    width: 500px;
    border-radius: 25px;
    line-height: 25px;
    margin-bottom: 50px;
}


.skills-container{
    font-size: 20px;
    background-color: rgb(246, 242, 242);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    line-height: 25px;
    height: 150px;
}

.courses-container{
    font-size: 20px;
    background-color: rgb(246, 242, 242);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    line-height: 25px;
}

.skills-and-courses-container{
    display: flex;
    flex-direction: row;
    width: 530px;
    justify-content: space-between;
    margin-left: 95px;

}

.computer-picture{
    object-fit: cover;
    height: 460px;
    width: 500px;
    margin-left: 150px;
    border-radius: 30px;
    margin-top: 86px; 
}

.content-container{
    display: flex;
    margin: 0;
}

.page-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}